.button-panel{
    background-color: grey;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex: 1 0 auto;
  }
.button-panel > div{
    margin-bottom: 1px;
    flex: 1 0 auto;
    display: flex;
    width: 100%;
}